<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>SpringBoot</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>

</head>
<header>
    <!--Navbar-->

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">SpringBoot</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/}" href="#">Inicio <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/personas}" href="#">Personas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/agregarPersona}" href="#">Agregar persona</a>
                </li>
            </ul>
        </div>
    </nav>

    <!--END Navbar-->

</header>

<body>

<div class="container">
    <div class="row">
        <div class="col-12 mt-5">
            <h1>Nueva Persona</h1>
            <!--acction:"@{/nuevopost}" es donde se enviara el objeto "th:object" con el nombre "post" por el metodo post-->
            <form th:action="@{/agregarPersona}" method="post" th:object="${persona}">
                <div class="form-row">
                    <div class="form-group col-md-11">
                        <label>Nombre</label>
                        <input th:field="*{nombre}" type="text" class="form-control" id="nombre"
                               placeholder="Ingresa tu nombre">
                    </div>

                </div>
                <div class="form-group">
                    <label>Apellido</label>
                    <input th:field="*{apellido}" type="text" class="form-control" id="apellido"
                           placeholder="Ingresa tu apellido">
                </div>
                <div class="form-group">
                    <label>RUT</label>
                    <input th:field="*{rut}" type="text" class="form-control" id="rut"
                           placeholder="Ingresa tu RUT">
                </div>
                <button type="submit" class="btn btn-primary">Agregar</button>
            </form>
        </div>
    </div>
</div>


</body>
</html>
