<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"> <!-- ahora permite th-->
<head>
    <meta charset="utf-8">
    <title>SpringBoot</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>

</head>
<header>
    <!--Navbar-->

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">SpringBoot</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/}" href="#">Inicio <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/personas}" href="#">Personas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/agregarPersona}" href="#">Agregar persona</a>
                </li>
            </ul>
        </div>
    </nav>

    <!--END Navbar-->

</header>

<body>
<div class="container">
    <div class="row">

        <div th:each="persona: ${personas}" class="col-3">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 th:text="${persona.getNombre()}" class="card-title"></h5>
                    <p th:text="${persona.getApellido()}" class="card-text"></p>
                    <p th:text="${persona.getRut()}" class="card-text"></p>
                    <a th:href="@{/eliminarPersona?rut=}+${persona.getRut()}" class="btn btn-primary">Eliminar persona</a>
                </div>
            </div>
        </div>

    </div>
</div>

</body>
</html>
